{% if type_checker == "mypy" %}
/.mypy_cache/
{% endif %}
{% if test_runner == "pytest" %}
/.pytest_cache/
{% endif %}
/.ruff_cache/
/.venv/
/build/
/dist/
{% if build_system == "maturin" %}
/target/
{% endif %}
__pycache__/
