set shell := ["bash", "-uc"]

ci:{%if build_system == "maturin" %} cargo-fmt cargo-clippy cargo-audit{% endif %} ruff {{ type_checker }}{% if test_runner == "pytest" %} pytest{% endif %}{% if doc_generator == "sphinx" %} sphinx{% endif %} {{ vulnerability_scanner }} typos
{% if build_system == "maturin" %}

[group('rust')]
cargo-fmt:
  cargo fmt --check

[group('rust')]
cargo-clippy:
  cargo clippy --all-targets

[group('rust')]
cargo-audit:
  cargo audit
{% endif %}

{% if build_system == "maturin" %}
[group('python')]
{% endif %}
ruff: ruff-check ruff-format

{% if build_system == "maturin" %}
[group('python')]
{% endif %}
ruff-check:
  uv run ruff check

{% if build_system == "maturin" %}
[group('python')]
{% endif %}
ruff-format:
  uv run ruff format --check

{% if build_system == "maturin" %}
[group('python')]
{% endif %}
{{ type_checker }}:
{% if type_checker == "mypy" %}
  uv run mypy .
{% elif type_checker == "ty" %}
  uv run ty check
{% endif %}
{% if test_runner == "pytest" %}

{% if build_system == "maturin" %}
[group('python')]
{% endif %}
pytest *args="":
  uv run pytest {{ '{{' }}args{{ '}}' }}
{% endif %}
{% if doc_generator == "sphinx" %}

{% if build_system == "maturin" %}
[group('python')]
{% endif %}
sphinx:
  uv run sphinx-build docs docs/_build/html
{% endif %}

{% if build_system == "maturin" %}
[group('python')]
{% endif %}
{{ vulnerability_scanner }}:
{% if vulnerability_scanner == "pip-audit" %}
  uv run pip-audit --strict --require-hashes --disable-pip --requirement \
    <(uv export --format requirements-txt --all-extras --no-emit-project)
{% elif vulnerability_scanner == "pysentry" %}
  uv run pysentry-rs
{% endif %}

typos:
  uv run typos
{% if project_type == "application" %}

run *args="":
  uv run {{ script_name }} {{ '{{' }}args{{ '}}' }}
{% endif %}
